.idea
build/debug/CMakeCache.txt
build/debug/CMakeFiles/
build/debug/cmake_install.cmake
build/debug/CTestTestfile.cmake
build/debug/Makefile
build/debug/tests/
build/debug/*.log
build/debug/*.a
build/debug/*.so
build/debug/mntr
build/debug/icarus-fastcgi
build/debug/icarus-routes
build/debug/Testing
